@charset "UTF-8";

header{
   height: 15%;
   line-height: 1.5;
   padding: 30px; 
   background-color: lightgrey;
   text-align: center;
   font-size: 40px; /*3.5rem;*/
   font-weight: bold;
   color: black;
}
nav{
   height: 5%;
   background-color: black;
}

nav a{
    text-decoration: none;
    color: white;
}

nav li{
   display: inline;
   line-height: 40px;
   padding: 0 2%;
}

nav ul{
   text-align: left;
}

footer{
    height: 5%;
    background-color: grey;
    line-height: 40px;
    text-align: center;
    color: white;
}

section{
    height: 75%;
}
*{
   margin: 0;
   padding: 0;
}
html, body{
   height: 100%;
   width: 100%;
}
#tab1{
     margin: 0 auto;
     width: 80%;
     text-align: center;
}
#tab2{
     margin: 0 auto;
     width: 50%;
 
}
#tab3{
     margin: 0 auto;
     width: 50%;
 
}
section h1{
     text-align: center;
}
#in{
     height: 30px;
     width: 35%;
}
#in1{
     height: 30px;
     width: 60%;
}
#in2{
     height: 30px;
     width: 30;
}
#in3{
     height: 30px;
     width:75%;
}

#bt1{
     height: 30px;
     width: 20%;
  
}
#bt2{
     height: 30px;
     width: 20%;

}
